@import url(normalize.css);
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "GothamBook", helvetica, sans-serif;
  font-size: 12px;
  color: #213a70;
  line-height: 1.20; }

@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
.gotham-bold, .description-way .strong-text, footer span, footer a {
  font-family: 'GothamBold', sans-serif;
  letter-spacing: -0.5px; }

.gotham-book, .badge {
  font-family: 'GothamBook', sans-serif;
  font-weight: 600; }

.gotham-italic {
  font-family: 'GothamBook', sans-serif;
  font-weight: 600;
  font-style: italic; }

.container {
  width: 540px;
  margin: 0 auto; }
  @media only screen and (max-width: 540px) {
    .container {
      width: 100%; } }

.mb15 {
  margin-bottom: 15px; }

header {
  background-color: #005189;
  text-align: center;
  color: white;
  padding: 20px 15px 18px 15px; }
  header h1 {
    padding-bottom: 18px;
    text-transform: uppercase;
    font-size: 16px; }

.list-ways {
  padding: 0 25px; }

.way-wrapper {
  overflow: hidden;
  border-bottom: dashed 2px #8ed62b; }
  .way-wrapper .title-way, .way-wrapper .description-way {
    width: 50%;
    float: left; }
  @media only screen and (max-width: 500px) {
    .way-wrapper .title-way {
      width: 100%;
      padding: 30px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .way-wrapper .description-way {
      width: 100%;
      padding: 30px 0; } }

.title-way {
  padding: 35px 15px 33px 0; }
  .title-way h2 {
    float: left;
    width: 70%;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px; }
  .title-way .badge {
    margin-top: 5px;
    float: right; }

.badge {
  position: relative;
  padding-top: 22px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  color: white; }
  .badge .percent {
    font-weight: 500;
    font-size: 22px; }
  .badge .title-badge {
    position: absolute;
    color: white;
    top: 5px;
    left: -5px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 2px 5px;
    background-color: #d29f30; }

.badge.green {
  background-color: #90c43d; }

.badge.pink {
  background-color: #ab1d55; }

.badge.purple {
  background-color: #83619f; }

.badge.blue {
  background-color: #0374ba; }

.badge.shipping {
  background-image: url("../img/icon-free-shipping-white.png");
  background-size: 75%;
  background-position: 50% 75%;
  background-repeat: no-repeat; }

.description-way {
  padding: 35px 0 33px 20px;
  font-weight: 600; }
  .description-way .strong-text {
    text-transform: uppercase; }
  .description-way .super-save .italic-text {
    font-style: italic;
    display: block; }
  .description-way .super-save p {
    display: inline-block;
    position: relative; }
  .description-way .super-save p:last-child:after {
    content: '';
    position: absolute;
    bottom: -1px;
    right: -45px;
    background: url("../img/icon-free-shipping-blue.png") 50% 50% no-repeat;
    width: 42px;
    height: 27px;
    display: block; }

footer {
  padding: 40px 50px 20px 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px; }
  footer span, footer a {
    display: inline-block;
    text-decoration: none;
    color: #213a70; }
  @media only screen and (max-width: 500px) {
    footer {
      padding: 30px 15px 20px 15px; } }

/*# sourceMappingURL=main.css.map */
